/* RESET BÁSICO */
* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: Arial, Helvetica, sans-serif;
}

/* ---------- ESTILO GLOBAL ---------- */
body {
   /* Gradiente vertical oscuro -> rojo */
   background: linear-gradient(to bottom, #4B0000, #000000);
   color: #fff;
   min-height: 100vh;
   display: flex;
   flex-direction: column;
}

/* Enlaces por defecto */
a {
   color: #FFD700; /* Dorado */
   text-decoration: none;
}

a:hover {
   text-decoration: underline;
}

/* ---------- CABECERA (HEADER / NAVBAR) ---------- */
header {
   background-color: rgba(0, 0, 0, 0.8);
   padding: 10px 20px;
   display: flex;
   align-items: center;
   justify-content: space-between;
   position: sticky;
   top: 0;
   z-index: 100;
}

/* Título MyCinema */
header p {
   font-size: 1.7rem;
   font-weight: bold;
   margin: 0;
   font-style: italic;
   padding: 4px;
   margin-right: 10px;
}

/* Logo */
header .logo img {
   border: 2px solid #FFD700; /* Marco dorado para resaltar */
   border-radius: 5px;
   width: 50px;
   height: 50px;
}

header .logo-container{
   display: flex;
   align-items: center;
   gap: 10px;    
}

/* Navegación */
header nav ul {
   list-style: none;
   display: flex;
   gap: 20px;
}

header nav ul li a {
   font-weight: bold;
   padding: 8px 15px;
   border-radius: 5px;
   transition: all 0.3s;
}

header nav ul li a:hover {
   background-color: #FFD700;
   color: #000;
   transform: translate(-2px);
}

/* ---------- CUERPO DE PÁGINA ---------- */

.partner-container {
   width: 95%;
   height: 320px;
   margin: 20px auto;

   display: flex;
   flex-direction: column;
   align-items: center;

   background-color: rgba(0, 0, 0, 0.65);
   border-radius: 30px;
   
}

   .partner-title {
      font-weight: bold;
      margin-top: 10px;
      width: 100%;
      height: 20%;
      text-align: center;
   }

   .partner-logo-container {
      background-color: #FFD700;
      width: 100%;
      height: 80%;

      overflow: hidden;
   }

      .partner-logo {    
         position: relative;
      }

      #yelmoLogo {top: 20px; left: 20px; width: 200px; height: 60px;}
      #callaoLogo {top: 20px; left: 20px; width: 120px; height: 100px;}
      #alandalusLogo {top: 20px; left: 20px; width: 200px; height: 140px;}

.maps-body-container {
   width: 100%;
   height: 500px;

   background-color: rgba(87, 204, 237, 0.46);

   display: flex;
   justify-content: center;
   align-items: center;
}

   .maps-text-container {
      width: 50%;
      height: 100%;

      background-color: rgba(244, 52, 52, 0.362);
   }

      .maps-text {
         font-size: 1.3em;
         color: #000;

         width: 100%;
         height: 65%;

         background-color: rgba(218, 255, 55, 0.337);
         margin-bottom: 20px;

         text-align: center;
      }

      .maps-selection {
         width: 100%;
         height: 30%;

         display: flex;
         justify-content: center;
      }

         .maps-selection > select {
            width: 200px;
            height: 1.5em;

            margin: 0 auto;
         }

         .maps-selection > button {
            width: 50px;
            height: 24px;

            margin: 0 auto;
         }

   .maps-proper-container {
      width: 50%;
      height: 100%;

      background-color: rgba(141, 248, 80, 0.403);

      display: flex;
      justify-content: center;
      align-items: center;
   }

.video-body-container {
   width: 100%;
   height: 500px;
   
   background-color: rgba(87, 204, 237, 0.46);
   
   display: flex;
   justify-content: center;
   align-items: center;
}

   .video-proper-container {
      width: 70%;
      height: 100%;

      background-color: rgba(141, 248, 80, 0.403);

      display: flex;
      justify-content: center;
      align-items: center;
   }

   .video-text-container {
      width: 30%;
      height: 100%;

      background-color: rgba(244, 52, 52, 0.362);
   }

      .video-text {
         font-size: 1.3em;
         color: #000;

         width: 100%;
         height: 100%;

         background-color: rgba(218, 255, 55, 0.337);
         margin-bottom: 20px;

         text-align: center;
      }

/* ---------- PIE DE PÁGINA ---------- */
footer {
   background: rgba(0, 0, 0, 0.9);
   text-align: center;
   padding: 25px 20px;
   border-top: 2px solid #FFD700;
   margin-top: auto;
}

footer p {
   margin: 8px 0;
   font-size: 0.9rem;
   opacity: 0.9;
}

footer .contacto-info{
   display: flex;
   justify-content: space-around;
   margin-bottom: 10px; /* Espacio entre los correos y el resto del footer */
}

/* ---------- EXTRAS ---------- */

.hidden {
   display: none;
}