/* RESET BÁSICO */
* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: Arial, Helvetica, sans-serif;
}

/* ---------- ESTILO GLOBAL ---------- */
body {
   background:#4B0000;
   color: #fff;
   min-height: 100vh;
   display: flex;
   flex-direction: column;
}

/* Enlaces por defecto */
a {
   color: #FFD700; /* Dorado */
   text-decoration: none;
}

a:hover {
   text-decoration: underline;
}

/* ---------- CABECERA (HEADER / NAVBAR) ---------- */
header {
   background-color: rgba(0, 0, 0, 0.8);
   padding: 10px 20px;
   display: flex;
   align-items: center;
   justify-content: space-between;
   position: sticky;
   top: 0;
   z-index: 100;
}

/* Título MyCinema */
header p {
   font-size: 1.7rem;
   font-weight: bold;
   margin: 0;
   font-style: italic;
   padding: 4px;
   margin-right: 10px;
}

/* Logo */
header .logo img {
   border: 2px solid #FFD700; /* Marco dorado para resaltar */
   border-radius: 5px;
   width: 50px;
   height: 50px;
}

header .logo-container{
   display: flex;
   align-items: center;
   gap: 10px;    
}

/* Navegación */
header nav ul {
   list-style: none;
   display: flex;
   gap: 20px;
   margin-bottom: 10px;
}

header nav ul li a {
   font-weight: bold;
   padding: 8px 15px;
   border-radius: 5px;
   transition: all 0.3s;
}

header nav ul li a:hover {
   background-color: #FFD700;
   color: #000;
   transform: translate(-2px);
}

/* ---------- CUERPO DE PÁGINA ---------- */

.partner-container {
   width: 95%;
   height: 320px;
   margin: 20px auto;

   display: flex;
   flex-direction: column;
   align-items: center;

   background-color: rgba(0, 0, 0, 0.65);
   border-radius: 30px;
   
}

   .partner-title {
      font-weight: bold;
      margin-top: 10px;
      width: 100%;
      height: 20%;
      text-align: center;
      border-bottom: 0.5px solid #FFD700;
      padding-top: 10px;
   }

   .partner-logo-container {
      width: 100%;
      height: 80%;

      display: flex;
      justify-content: space-evenly;
   }

      .partner-logo {    
         overflow: hidden;
         margin: 20px;
      }

      #yelmoLogo {margin-top: 40px; margin-bottom: 20px; width: 200px; height: 60px;}
      #callaoLogo {margin-top: 120px; margin-bottom: 20px; width: 120px; height: 100px;}
      #alandalusLogo {margin-top: 20px; margin-bottom: 20px; width: 200px; height: 140px;}

.maps-body-container {
   width: 100%;
   height: 500px;

   display: flex;
   justify-content: center;
   align-items: center;

   margin: 20px auto;
}

   .maps-text-container {
      width: 45%;
      height: 100%;

      background-color: rgba(0, 0, 0, 0.65);
      border-radius: 50px 0 0 50px;
   }

      .maps-text {
         font-size: 1.3em;
         color: #fff;

         width: 100%;
         /*height: 65%;*/

         text-align: center;
         margin-top: 20px;
         padding: 50px 20px 20px 20px;
      }

      .maps-selection {
         width: 100%;
         height: 100px;

         display: flex;
         justify-content: center;

         margin-top: 20px;
      }

         .maps-selection > select {
            width: 250px;
            height: 32px;
            margin-right: 20px;

            background-color: #FFD700;
            color: #000;
            border-radius: 8px;
            font-weight: bold;
            transition: all 0.3s;
            text-decoration: none;
            text-align: center;
            font-size: 1em;
         }

            .maps-selection > select option {
               width: 250px;
            height: 32px;
            margin-right: 20px;

            background-color: #FFD700;
            color: #000;
            border-radius: 8px;
            font-weight: bold;
            transition: all 0.3s;
            text-decoration: none;
            text-align: center;
            font-size: 1em;
            }

         .maps-selection > button {
            width: 100px;
            height: 32px;

            background-color: #FFD700;
            color: #000;
            border-radius: 8px;
            font-weight: bold;
            transition: all 0.3s;
            border: 2px solid transparent;
            text-decoration: none;
            text-align: center;
            font-size: 1em;
         }
        
            .maps-selection > button:hover {
               background-color: #FFC107; /* Un dorado un poco más claro */
            }

   .maps-proper-container {
      width: auto;
      height: 100%;

      padding: 0 20px;

      background-color: rgba(0, 0, 0, 0.65);
      border-radius: 0 50px 50px 0;

      display: flex;
      justify-content: center;
      align-items: center;
   }

      .maps-proper-container iframe {
         border: 5px solid #FFD700;
      }

.video-body-container {
   width: 100%;
   height: 500px;
   
   display: flex;
   justify-content: center;
   align-items: center;

   margin: 20px auto;
}

   .video-proper-container {
      width: 65%;
      height: 100%;

      background-color: rgba(0, 0, 0, 0.65);
      border-radius: 50px 0 0 50px;

      display: flex;
      justify-content: center;
      align-items: center;
   }

      .video-slider {
         color: #FFD700;
         font-size: 3em;
         padding: 0 15px;
         height: 350px;

         border: 3px solid #FFD700;
         
         display: flex;
         justify-content: center;
         align-items: center;
      }

      .video-slider:first-child {
         border-right: none;
         border-radius: 20px 0 0 20px;
         cursor: pointer;
      }

      .video {
         border: 3px solid #FFD700;
      }

      .video-slider:last-child {
         border-left: none;
         border-radius: 0 20px 20px 0;
         cursor: pointer;
      }

   .video-text-container {
      width: 25%;
      height: 100%;

      background-color: rgba(0, 0, 0, 0.65);
      border-radius: 0 50px 50px 0;
   }

      .video-text {
         font-size: 1.2em;
         color: #fff;

         width: 100%;
         height: 90%;
         margin-top: 20px;

         text-align: center;
         padding: 65px 20px 20px 20px;
      }

/* ---------- PIE DE PÁGINA ---------- */
footer {
   background: rgba(0, 0, 0, 0.9);
   text-align: center;
   padding: 10px 5px;
   border-top: 2px solid #FFD700;
   margin-top: auto;
}

   footer > h3 {
      margin: 8px 0 15px 0;
      font-size: 1.5em;
      opacity: 0.9;
      color: #FFD700;
   }

   .contacto-info {
      margin-bottom: 20px;
      display: flex;
      justify-content: space-around;
   }

      .contacto-info a {
         font-size: 1.2em;
         text-decoration: none;
         color: #fff;
      }

   footer p {
      font-size: 0.8em;
      margin-top: 20px;
   }

/* ---------- EXTRAS ---------- */

.hidden {
   display: none;
}

/* ---------- MODIFICACIONES MEDIA QUERY ---------- */

@media (max-width: 650px) {
   header {
      padding: 10px 20px;
      flex-direction: column; 
      margin-bottom: 10px;
   }

   header p {
      margin-bottom: 10px;
   }

   header nav {
      width: 100%;
   }

   header nav ul {
      justify-content: space-evenly;
   }

   .logo-container {
      margin-bottom: 10px;
   }



   .partner-container {
      height: auto;
   }


   .partner-logo-container {
      flex-direction: column;
      align-items: center;
   }

      #callaoLogo {margin-top: 20px; margin-bottom: 20px; width: 160px; height: 140px;}
      #alandalusLogo {margin-top: 20px; margin-bottom: 30px;}





   .video {
      width: 60%;
   }

   .contacto-info {
      flex-direction: column;
   }
}

@media (max-width:1150px) {
   .maps-body-container {
      flex-direction: column;
      height: auto;
   }

      .maps-text-container {
         width: 95%;
         border-radius: 50px 50px 0 0;
         height: auto;
      }

         .maps-text {
            padding: 20px 20px 20px 20px;
         }

         .maps-selection {
            height: 50px;
         }

      .maps-proper-container {
         width: 95%;
         border-radius: 0 0 50px 50px;
         height: auto;
      }

         .map {
            width: 80%;
            height: 350px;
            margin: 20px 0 35px 0;
         }

   .video-body-container {
      flex-direction: column-reverse;
      height: auto;
   }

      .video-text-container {
         border-radius: 50px 50px 0 0;
         width: 95%;
         height: auto;
      }

         .video-text {
            padding: 20px 20px 20px 20px;
         }

      .video-proper-container {
         border-radius: 0 0 50px 50px;
         width: 95%;
         height: auto;
      }
      
      .video {
         margin: 20px 0 35px 0;
      }

      .video-slider:first-child {
         margin: 20px 0 35px 0;
      }

      .video-slider:last-child {
         margin: 20px 0 35px 0;
      }
}