/* RESET BÁSICO */
* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: Arial, Helvetica, sans-serif;
}

/* ---------- ESTILO GLOBAL ---------- */
body {
   /* Gradiente vertical oscuro -> rojo */
   background: #4B0000;
   color: #fff;
   min-height: 100vh;
   display: flex;
   flex-direction: column;
}

/* Enlaces por defecto */
a {
   color: #FFD700; /* Dorado */
   text-decoration: none;
}

a:hover {
   text-decoration: underline;
}

/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%||                            ||%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */
/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%||                            ||%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */
/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%||          NAVEGADOR         ||%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */
/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%||                            ||%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */
/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%||                            ||%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */
header {
   background-color: rgba(0, 0, 0, 0.8);
   padding: 10px 20px;
   display: flex;
   align-items: center;
   justify-content: space-between;
   position: sticky;
   top: 0;
   z-index: 100;
}

/* Título */
header p {
   font-size: 1.7rem;
   font-weight: bold;
   margin: 0;
   font-style: italic;
   padding: 4px;
   margin-right: 10px;
}

/* %%%%%%%%%%%%%%%%%%%%|| Logo ||%%%%%%%%%%%%%%%%%%%% */
header .logo img {
   border: 2px solid #FFD700; /* Marco dorado para resaltar */
   border-radius: 5px;
   width: 50px;
   height: 50px;
}

header .logo-container{
   display: flex;
   align-items: center;
   gap: 10px;    
}

/* %%%%%%%%%%%%%%%%%%%%|| Navegación ||%%%%%%%%%%%%%%%%%%%% */
header nav ul {
   list-style: none;
   display: flex;
   gap: 20px;
}

header nav ul li a {
   font-weight: bold;
   padding: 8px 15px;
   border-radius: 5px;
   transition: all 0.3s;
}

header nav ul li a:hover {
   background-color: #FFD700;
   color: #000;
   transform: translate(-2px);
}

/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%||                            ||%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */
/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%||                            ||%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */
/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%||           CUERPO           ||%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */
/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%||                            ||%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */
/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%||                            ||%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */

.cinema-banner-container {
   height: auto;
   width: 100%;

   display: flex;
   justify-content: space-evenly;
   align-items: center;
   flex-flow: column;
}

   /* %%%%%%%%%%%%%%%%%%%%%%%%%||         ||%%%%%%%%%%%%%%%%%%%%%%%%% */
   /* %%%%%%%%%%%%%%%%%%%%%%%%%|| Banners ||%%%%%%%%%%%%%%%%%%%%%%%%% */
   /* %%%%%%%%%%%%%%%%%%%%%%%%%||         ||%%%%%%%%%%%%%%%%%%%%%%%%% */
   .cinema-banner {
      height: 100px;
      width: 90%;
      text-align: center;
      
      display: flex;
      justify-content: center;
      align-items: center;

      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;

      border-radius: 20px;
      border: 0.25px solid black;

      transition: all 0.5s ease;

      margin: 10px 0;

      cursor: pointer;
   }

   .cinema-banner:hover {
      transform-origin: center center;
      transform: scale(1.03,1.03);
   }

      .cinema-banner > span {
         font-weight: bold;
         font-size: 2em;
         
      }

         #yelmoBahia { background-image: url('img/Cine-Yelmo-BG.jpeg'); }
         #callao { background-image: url('img/Cine-Callao-BG.jpeg'); }
         #multicineAlAndalus { background-image: url('img/Multicine-AlAndalus-BG.jpeg'); }


   /* %%%%%%%%%%%%%%%%%%%%%%%%%||           ||%%%%%%%%%%%%%%%%%%%%%%%%% */
   /* %%%%%%%%%%%%%%%%%%%%%%%%%|| Cartelera ||%%%%%%%%%%%%%%%%%%%%%%%%% */
   /* %%%%%%%%%%%%%%%%%%%%%%%%%||           ||%%%%%%%%%%%%%%%%%%%%%%%%% */
   .cinema-movie-display {
      height: 250px;
      width: 90%;
      text-align: center;
      
      display: flex;
      justify-content: space-evenly;
      align-items: center;

      border-radius: 20px;
      background-color: rgba(0, 0, 0, 0.65);
      border: 2px solid #FFD700;

      margin: 10px 0;
   }

      .cinema-movie-card {
         height: 80%;
         width: 16%;
         border: 1px solid black; 

         transition:all 0.5s ease;

         cursor: pointer;
      }

      .cinema-movie-card:hover {
         transform-origin: center center;
         transform: scale(1.1,1.1);
      }

         .cinema-movie-card img {
            height: 100%;
            width: 100%;
         }

   /* %%%%%%%%%%%%%%%%%%%%%%%%%||       ||%%%%%%%%%%%%%%%%%%%%%%%%% */
   /* %%%%%%%%%%%%%%%%%%%%%%%%%|| Salas ||%%%%%%%%%%%%%%%%%%%%%%%%% */
   /* %%%%%%%%%%%%%%%%%%%%%%%%%||       ||%%%%%%%%%%%%%%%%%%%%%%%%% */
   .cinema-room-display {
      height: auto;
      width: 90%;
      text-align: center;
      
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      flex-flow: column;

      border-radius: 20px;
      background-color: rgba(0, 0, 0, 0.65);
      border: 2px solid #FFD700;

      margin: 10px 0;
   }

      .cinema-room {
         height: 25%;
         width: 95%;
         
         display: flex;
         justify-content: space-evenly;
         align-items: center;         
      }

         .cinema-room > span {
            font-size: 1.3em;
            font-weight: bold;
            width: 150px;
            height: auto;
         }

         .schedule-display {
            height: auto;
            width: 75%;

            display: flex;
            justify-content: left;
            align-items: center;

            margin: 10px 0;
         }

            .schedule-display a {
               height: 50px;
               width: 150px;
               border: 1px solid #FFD700;
               text-align: center;
               margin: 0 3%;
               color: #fff;

               font-size: 1.5em;
               font-weight: bold;

               display: flex;
               justify-content: center;
               align-items: center;

               border: 1px solid black;
               background: linear-gradient(to bottom, #02178b, #434e8e);

               transition: all 0.5s ease;
            }

            .schedule-display a:hover {
               transform-origin: center center;
               transform: scale(1.1,1.1);

               text-decoration: none;
            }
      
      .cinema-room-seemore{
         width: 200px;
         height: 40px;
         font-size: 1em;
         background: transparent;
         
         border: none;
         color: #FFD700;

         transition: all 0.2s ease;

         cursor: pointer;
      }  

      .cinema-room-seemore:hover {
         font-weight: bold;
         transform: scale(1.1,1.1);
      }

   /* %%%%%%%%%%%%%%%%%%%%%%%%%||            ||%%%%%%%%%%%%%%%%%%%%%%%%% */
   /* %%%%%%%%%%%%%%%%%%%%%%%%%|| Info Salas ||%%%%%%%%%%%%%%%%%%%%%%%%% */
   /* %%%%%%%%%%%%%%%%%%%%%%%%%||            ||%%%%%%%%%%%%%%%%%%%%%%%%% */
   .cinema-room-info {
      height: auto;
      width: 90%;

      display: flex;
      justify-content: center;
      align-items: center;

      border-radius: 20px;
      background-color: rgba(0, 0, 0, 0.65);
      border: 2px solid #FFD700;

      margin: 10px 0;
   }

      .cinema-room-info > table {
         border-collapse: collapse;
         height: 200px;
         width: 90%;
         margin: 20px 0;
      }

      .cinema-room-info > table td {
         color: #fff;
         font-size: 1em;
         text-align: center;

         background-color: transparent;
         border: 1px solid transparent;
      }

      .cinema-room-info > table td:not(:last-child) {
         border-right: 1px solid gold;
      }

      .cinema-room-info > table tr:not(:last-child) td {
         border-bottom: 1px solid gold;
      }

      .cinema-room-info > table tr:first-child td {
         font-weight: bold;
         font-size: 1.2em;
         color: #FFD700;
      }

/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%||                             ||%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */
/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%||                             ||%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */
/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%||             PIE             ||%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */
/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%||                             ||%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */
/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%||                             ||%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */
footer {
   background: rgba(0, 0, 0, 0.9);
   text-align: center;
   padding: 10px 5px;
   border-top: 2px solid #FFD700;
   margin-top: auto;
}

   footer > h3 {
      margin: 8px 0 15px 0;
      font-size: 1.5em;
      opacity: 0.9;
      color: #FFD700;
   }

   .contacto-info {
      margin-bottom: 20px;
      display: flex;
      justify-content: space-around;
   }

      .contacto-info a {
         font-size: 1.2em;
         text-decoration: none;
         color: #fff;
      }

   footer p {
      font-size: 0.8em;
      margin-top: 20px;
   }

/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%||                             ||%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */
/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%||                             ||%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */
/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%||            UTILS            ||%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */
/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%||                             ||%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */
/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%||                             ||%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */

.hidden {
   display: none;
}

/* %%%%%%%%%%%%%%%%%%%%%%%%%||             ||%%%%%%%%%%%%%%%%%%%%%%%%% */
/* %%%%%%%%%%%%%%%%%%%%%%%%%|| MEDIA QUERY ||%%%%%%%%%%%%%%%%%%%%%%%%% */
/* %%%%%%%%%%%%%%%%%%%%%%%%%||             ||%%%%%%%%%%%%%%%%%%%%%%%%% */

@media (max-width: 650px) {
   header {
      padding: 10px 20px;
      flex-direction: column; 
      margin-bottom: 10px;
   }

   header p {
      margin-bottom: 10px;
   }

   header nav {
      width: 100%;
   }

   header nav ul {
      justify-content: space-evenly;
   }

   .logo-container {
      margin-bottom: 10px;
   }

   .video {
      width: 90%;
   }

   .contacto-info {
      flex-direction: column;
      font-size: 0.8em;
   }
}

@media (max-width:800px) {
   .cinema-movie-card {
      width: 120px;
      height: 200px;
      margin: 20px;
   }

   .cinema-movie-display {
      height: auto;
      flex-wrap: wrap;
   }

   .cinema-room-display {
      height: auto;
   }

   .cinema-room {
      height: auto;
      margin: 10px;
   }

   .cinema-room > span {
      font-size: 1em;
      font-weight: bold;
      width: 100px;
      height: auto;
   }

   .schedule-display {
      height: auto;
      width: auto;

      display: flex;
      justify-content: left;
      align-items: center;
      flex-wrap: wrap;
   }

      .schedule-display a {
         width: 100px;
         color: #fff;

         font-size: 1em;
      }

      .cinema-room-info > table td {
         font-size: 0.8em;
      }

      .cinema-room-info > table tr:first-child td {
         font-weight: bold;
         font-size: 1em;
         color: #FFD700;
      }

}